<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
       body{
        font-family:Comic Sans MS;
       }
        a{
           text-decoration: none;
       }
       div{
           text-align: right;
       }
       h1{
            text-align: center;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a> &nbsp&nbsp&nbsp&nbsp <a href="/blog">All Post</a> &nbsp&nbsp&nbsp&nbsp <a  href="/newpost">New Post</a> &nbsp&nbsp&nbsp&nbsp <div style="float:right;"><a href="/login">Login</a> &nbsp&nbsp&nbsp&nbsp <a href="/logout">Logout</a></div>
     </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
       <ul>
           {% for category, message in messages %}
               <li class="{{category}}">{{message}}</li>
           {% endfor %}   
       </ul>
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>